:root {
    --designColor: rgb(255, 128, 0);
    --footer-bg-color: rgb(58, 56, 55);
    --content-width: 1980px;
    --designColor-bg:rgb(247, 247, 242);
}

.content-all{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: scroll;
}

.content-all::-webkit-scrollbar{
    width: 8px;
    background-color: white;
}

.content-all::-webkit-scrollbar-thumb{
    background-color: var(--designColor);
    border-radius: 4px;
}

.header-section {
    background-color: var(--designColor);
}

header {
    max-width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;

}

header>img {
    margin-left: 24px;
    height: 36px;
}

.menue-button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.menue-button>img{
    width: 36px;
    margin-right: 16px;
}

.content-section{
    display: flex;
    justify-content: space-between;
}


.footer-section{
    margin-top: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: var(--footer-bg-color);
    display: flex;
}

footer{
    margin-left: 24px;
    margin-right: 24px;
    flex: 1;
    max-width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>p,a{
    color: rgb(190, 182, 182);
}

footer a:hover{
    color: var(--designColor);
}