.provider-section-top{
    flex-grow: 1;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.provider-img-logo-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.provider-top-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

.provider-logo{
    height: 112px;
    width: 112px;
    border-radius: 50%;
    position: relative;
    top: -56px; 
}

.provider-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -96px;
    width: 100%;
}


.provider-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;

}

.provider-name > p{
    margin-top: 16px;
    color: var(--designColor);
    font-size: 14px;
}

.provider-container>nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 24px;
    background-color: var(--designColor-bg);
    width: 100%;
}

.provider-container>nav a{
    margin-left: 8px;
    color: rgb(41, 40, 40);
}

.provider-dish-img{
    height: 125px;
    object-fit: cover;
    object-position: center center;
    margin-left: 24px;
    margin-right: 18px;
    margin-top: 8px;
    
}

.dish-banner-container{
    margin-top: 8px;
    margin-left: 24px;
}

.dish-container{
    margin-right: 16px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    background-color: var(--designColor-bg);
    border: 1px solid rgba(179, 174, 174, 0.548);
}

.dish-container:hover{
    background-color: rgba(192, 110, 78, 0.267);
}

.dish{
    padding: 8px;
}

.dish > p{
    margin-top: 8px;
    font-size: 12px;
}

.dish :nth-child(3){
    color: var(--designColor);
}

.addButton{
    color: var(--designColor);
    font-size: 20px;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-color: rgba(179, 174, 174, 0.548);
}

.addButton:hover{
    color: white;
    background-color: var(--designColor);
}


