.shopping-cart-div {
    position: sticky;
    top: 0;
    min-width: 255px;
    max-width: 255px;
    background-color: white;
    align-self: flex-start;
    margin-left: 12px;
}

.shopping-cart-div::-webkit-scrollbar{
    width: 8px;
    background-color: white;
}

.shopping-cart-div::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 4px;
}

.shopping-cart-div>p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 16px;
}

.shopping-cart-div>div {
    text-align: center;
    /* margin: 16px 24px; */

}

.shopping-cart-div>div>p {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
    color: grey;
    font-size: 14px;

}

.shopping-cart {
    width: 248px;
    background-color: white;
    position: absolute;
    max-height: 90dvh;
    top: 40px;
    right: 8px;
    overflow-x: scroll;
}

.shopping-cart::-webkit-scrollbar{
    width: 8px;
    background-color: white;
}

.shopping-cart::-webkit-scrollbar-thumb{
    background-color: rgb(243, 158, 101);
    border-radius: 4px;
}

.shopping-cart-entry {
    padding: 8px;
}

.shopping-cart-entry>p {
    text-align: left;
    font-weight: 400;
}

.shopping-cart-entry>div {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-section>button {
    width: 20px;
    height: 20px;
    padding-inline: 0;
    padding-block: 0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.entry-section>button:hover {
    border: 1px solid var(--designColor);
}

.entry-section>button>img {
    width: 14px;
    height: 14px;
    object-fit: cover;
    object-position: center center;
    margin-top: 2px;
}

.entry-section-text-sm {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 12px;
    flex-grow: 1;
}

.entry-section-text-lg {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 14px;
    flex-grow: 1;
}

.delivery-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 8px;
}


.sumary-table {
    margin-left: 8px;
    margin-bottom: 36px;
    border-top: 1px solid rgba(146, 138, 138, 0.37);
}

.sumary-table div {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 8px;
}

.sum-table-sumRow {
    font-weight: 600;
}

.category-seperator {
    border-color: rgba(146, 138, 138, 0.205);
}

.order-button {
    margin-top: 16px;
    width: 100%;
    padding: 8px 4px;
    border: none;
    background-color: var(--designColor);
    font-size: 16px;
    cursor: pointer;
    position: sticky;
    bottom: 0;
    align-self: flex-start;
}

.non-resp-order-btn{
    bottom: 0;
}

.order-button:hover {
    background-color: rgba(192, 110, 78, 0.267);
}

.shoppingcart-button-container {
    display: none;
    margin-bottom: 16px;
    position: sticky;
    align-self: flex-start;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.shoppingcart-button {
    padding: 16px 8px;
    border: none;
    background-color: var(--designColor);
    font-size: 16px;
    margin-bottom: 16px;
    flex-grow: 1;
    cursor: pointer;
}

.resp-shopping-cart {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 12;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: scroll;

}

.resp-shopping-cart>button{
    padding: 16px 8px;
    border: none;
    background-color: var(--designColor);
    font-size: 16px;
    margin-bottom: 16px;
    width: 100%;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.resp-shopping-container{
    flex-grow: 1;
    margin-right: 24px;
    margin-left: 24px;
}

.resp-empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}