* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

.d-none {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
}

.switch>input{
    display: none;;
}

.switch>input:checked+.slider {
    background-color: var(--designColor);
}

.switch>input:focus+.slider {
    box-shadow: 0 0 1px var(--designColor);
}

.switch>input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

@media(max-width:780px){
    .provider-container{
        top:-56px
    }
}


@media(max-width:770px){
    .shopping-card-div{
        display: none;
    }

    .shoppingcard-button-container{
        display: flex;
        
    }

    .content-section{
        flex-direction: column;
    }
    
}

@media(max-width:400px){
    footer>p{
        font-size: 14px;
    }

    .datenschutz-container h1{
        font-size: 24px
    }

    .datenschutz-container h2{
        font-size: 20px
    }

    .datenschutz-container p, ul{
        font-size: 14px
    }

    .impressum-container h1{
        font-size: 24px
    }

    .impressum-container p{
        font-size: 14px
    }


}

@media(max-width:350px){
    footer>p{
        font-size: 12px;
    }
}